/* ======== create 6 media queries ======== */
/* xs screen */
/* @media(min-width: 475px) {}

/* sm screen */
/* @media(min-width: 640px) {} */

/* md screen */
/* @media (min-width: 768px) {} */

/* lg screen */
/* @media (min-wdith: 1024px) {} */

/* xl screen */
/* @media (min-width: 1280px) {} */

/* 2xl screen */
/* @media (min-width: 1536px) {} */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
}

.section {
    margin-top: 5rem;
}

/* ======== create 6 media queries ======== */
/* xs screen */
@media(min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm screen */
@media(min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md screen */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg screen */
@media (min-wdith: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl screen */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl screen */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}